.title {
  text-align: center;
  color: #333;

  span {
    position: relative;
    bottom: -5px;
    left: -5px;
  }
}

.table-container::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #3f51b5;
  border-radius: 2px;
}

.table-container::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}